@import url("http://tradingupandown.com/css/base-css-files-ddb7acd2b1.css");
@import url("http://tradingupandown.com/js/all-sliders.js");
@import url("http://tradingupandown.com/js/dynamic-router.js");
@import url("http://tradingupandown.com/js/includes.js");
@import url("http://tradingupandown.com/js/main-js-files.js");

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.top-ad {
  background-color: #191c1f; /* Dark for top ad */
  color: #fff;
  text-align: center;
  padding: 10px;
}

.header {
  background-color: #f5f5f7; /* White Header */
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.layout {
  display: flex;
  min-height: 600px;
}

.sidebar-left, .sidebar-right {
  background-color: #f5f5f7; /* White sidebars */
  flex: 0 0 200px;
  padding: 20px;
  color: #fff;
}

.main-content {
  background-color: #fff;
  flex: 1;
  padding: 20px;
  text-align: center;
  color: #191c1f;
}

.footer {
  background-color: #191c1f; /* Dark Footer */
  color: #fff;
  text-align: center;
  padding: 20px;
}
